@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}



:root {
    --midgray: #707070;
    --accent-color: #400000C0;
    --super-green: #2ecc71;
    --accent-color: #0275b2;
    --cyber-orange: #FF8000;    
    --accent-color: #83c3f1;
    --accent-color: hsl(205, 80%, 70%);
}


body * {
    color: var(--midgray);
    font-family: Roboto;
    font-size: 80%;
    font-variant: small-caps;
}



.logo-left, .logo-right {
    font-weight: 900 !important;
    transform: scale(1, 0.666);
    display: inline-block;
}

.logo-left {
    color: var(--accent-color);
}

.logo-right {
    position: relative;
    left: -12px;
    font-style: italic;
}


.color-sky {
    color: var(--accent-color);
}




#dnbradio {
    position: fixed;
    top: 0;
    left: 40px;
    opacity: 0.9;
    z-index: 1000;
    width: 15vh;
}

#dnbradio img {
    width: 100%;
}

#dnbradio:hover {
    opacity: 1;
}


#main-menu {
    position: relative;
}

#main-menu-stripes {
    float: left;
    left: 0;
    background-origin: bottom left;
    height: 5em;
    width: 10em;
    background: repeating-linear-gradient(135deg,
            var(--accent-color),
            var(--accent-color) 15px,
            #FFFFFF 15px,
            #FFFFFF 30px);
    z-index: 1001;
    padding: 0;
}

#main-menu-list-container img {
    position: fixed;
    bottom: 4px;
    right: 4em;
}

#main-menu-list-container {
    display: inline-block;
    width: calc(100% - 12.5em);
    position: relative;
    right: 0;
    /*background-color: var(--midgray);*/
    /*background-image: url("../assets/poly.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;*/
    height: 5em;
    --aug-r-extend1: 2em;
    --aug-r: 0.5em;
    --aug-bl: 1em;
    --aug-border-all: 0px;
    --aug-border-bg: transparent;
    --aug-inlay-all: 0px;
    --aug-inlay-bg: var(--midgray);
    border: none;
    text-align: left;
    padding-top: 8px;
    color: #FFFFFF;
    padding-left: 16px;
}

marquee {
    padding-right: 1em;
    font-weight: 700;
}

#main-menu-list-container a {
    color: unset !important;
    border-top: 2px solid transparent !important;
    /*border-bottom: 2px solid transparent !important;*/
}

#main-menu-list-container a:hover {
    border-top: 2px solid #FFFFFF !important;
    /*border-bottom: 2px solid #FFFFFF !important;*/
}

#version {
    text-align: center;
    width: 100%;
    font-style: italic;
    font-size: 50%;
    color: var(--cyber-orange);
}


.battlefield-container {
    position: relative;
    text-align: center;
    height: 50vh;
}

div.battlefield {
    position: absolute;
    top: 0;
    left: calc(50% - 20vw - 34px);
    display: inline-block;
    width: calc(40vw + 48px);
    height: calc(20vw + 30px);
    margin: 0;
    --aug-t: 10px;
    --aug-b: 10px;
    --aug-t-extend1: 45px;
    --aug-b-extend1: 45px;
    padding: 10px;
    background: none !important;
    border: none !important;
    --aug-border-bg: #808080;
    --aug-border-all: 8px;
    --aug-inlay-bg: linear-gradient(white, #F0F0F0);

    /*--aug-inlay-bg:
        linear-gradient(transparent, white, transparent),
        repeating-linear-gradient(135deg,
        #F0F0F0,
        #F0F0F0 20px,
        #FFFFFF 20px,
        #FFFFFF 40px);*/
    --aug-tl: 24px;
    --aug-tr: 24px;
    --aug-bl: 24px;
    --aug-br: 24px;
}


.battlefield-container table {
    border-collapse: collapse;
    width: calc(60vw + 80px);
    height: calc(20vw + 20px);
    position: absolute;
    top: 16px;
    left: calc(50% - 30vw - 40px);
}

tr {
    margin: 0;
    padding: 0;
}

.battlefield-container td {
    width: 10vw;
    height: 10vw;
    text-align: center;
    margin: 20px;
    border: none !important;
}

td.table-separator {
    width: 20px;
    background: transparent;
}

.warrior {
    display: flex !important;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    display: inline-block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --aug-border-all: 0px;
    --aug-border-bg: var(--midgray);
    --aug-inlay-all: 0px;
    --aug-inset-bg: var(--midgray);
    --aug-inlay-bg: var(--midgray);
}

.empty-warrior {
    --aug-border-all: 4px;
    background-color: white;
    --aug-border-bg: #E0E0E0;
    --aug-inlay-all: 4px;
    --aug-inlay-bg: #F0F0F0;
    border: none !important;
}

.warrior img {
    width: 80%;
    height: 80%;
}